<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/ico/usstcms.ico"/>
    {css href="/static/css/bootstrap.min.css" /}
    {css href="/static/css/toastr.css" /}
    {js href="/static/js/jquery-3.3.1.js" /}
    {js href="/static/js/bootstrap.min.js" /}
    {js href="/static/js/toastr.js" /}
</head>
<body style="background: #1f3f4a;">
    <div>
        <!-- Header begin -->
        {include file="header"}
        <!-- Header end -->

        <!-- Content begin -->
        <div class="col-xs-8 col-md-offset-1 col-md-6 col-sm-6" style="padding-top: 80px">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <strong style="font-size: 14px">论坛新帖</strong>
                        <a href="" style="font-size:14px;font-weight:bold;float: right;color: #31708F">更多>></a>
                    </div>
                </div>
                <div class="panel-body">
                    {$Think.lang.username}
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-md-4 col-sm-4" style="margin-top: 80px">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <strong style="font-size: 14px">论坛公告</strong>
                        <a href="" style="font-size:14px; font-weight: bold; float: right; color: #31708F">更多>></a>
                    </div>
                </div>
                <div class="panel-body" style="font-size: 13px">
                    <div class="">
                         这是内容
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer begin -->
        {include file="footer"}
        <!-- Footer end -->
    </div>
</body>
</html>