<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.lang.resource}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/ico/usstcms.ico"/>
    {css href="/static/css/bootstrap.min.css" /}
    {css href="/static/css/toastr.css" /}
    {js href="/static/js/jquery-3.3.1.js" /}
    {js href="/static/js/bootstrap.min.js" /}
    {js href="/static/js/toastr.js" /}
</head>
<body style="background: #1f3f4a;">
    <div>
        <!-- Header begin -->
        {include file="header"}
        <!-- Header end -->

        <!-- Content begin -->
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" style="padding-top: 10px">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <strong style="font-size: 14px">{$Think.lang.resource}</strong>
                        <a href="" style="font-size:14px;font-weight:bold;float: right;color: #31708F">{$Think.lang.more}>></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-offset-1 col-md-10" style="margin-top: 10px; border-bottom: 1px solid #31708F ;padding-bottom:5px;padding-top: 5px">
                        <div class="col-md-4">
                            <img src="/static/images/news.png" class="img-thumbnail" style="width: 270px;height: 180px">
                        </div>
                        <div class="col-md-8"">
                            <div>
                                <p style="font-size: 15px; font-weight: bold;">
                                    <a href="" style="text-decoration: none; color: #31708F">这是文章标题</a>
                                </p>
                                <span>
                                    这是什么按揭房IE 俺师傅家设计费撒大数据地方将碍事地方撒地方看见哦啊是发的发送到发送dfsj
                                数据覅阿萨德飞机阿士大夫阿萨德饭啊搜到房间阿萨德佛阿萨德饭apostle阿萨德饭
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-10" style="margin-top: 10px; border-bottom: 1px solid #31708F ;padding-bottom:5px;padding-top: 5px">
                        <div class="col-md-4">
                            <img src="/static/images/news.png" class="img-thumbnail" style="width: 270px;height: 180px">
                        </div>
                        <div class="col-md-8">
                            <div>
                                <p style="font-size: 15px; font-weight: bold">
                                    <a href="" style="text-decoration: none; color: #31708F">这是文章标题</a>
                                </p>
                                <span>
                                    这是什么按揭房IE 俺师傅家设计费撒大数据地方将碍事地方撒地方看见哦啊是发的发送到发送dfsj
                                数据覅阿萨德飞机阿士大夫阿萨德饭啊搜到房间阿萨德佛阿萨德饭apostle阿萨德饭
                                这是什么按揭房IE 俺师傅家设计费撒大数据地方将碍事地方撒地方看见哦啊是发的发送到发送
                                数据覅阿萨德飞机阿士大夫阿萨德饭啊搜到房间阿萨德佛阿萨德饭apostle阿萨德饭
                                这是什么按揭房IE 俺师傅家设计费撒大数据地方将碍事地方撒地方看见哦啊是发的发送到发送
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-10" style="margin-top: 10px; border-bottom: 1px solid #31708F ;padding-bottom:5px;padding-top: 5px">
                        <div class="col-md-4" style="float: left">
                            <img src="/static/images/news.png" class="img-thumbnail" style="width: 270px;height: 180px">
                        </div>
                        <div class="col-md-8">
                            <div>
                                <p style="font-size: 15px; font-weight: bold">
                                    <a href="" style="text-decoration: none; color: #31708F">这是文章标题</a>
                                </p>
                                <span>
                                    这是简介
                                    这是什么按揭房IE 俺师傅家设计费撒大数据地方将碍事地方撒地方看见哦啊是发的发送到发送dfsj
                                数据覅阿萨德飞机阿士大夫阿萨德饭啊搜到房间阿萨德佛阿萨德饭apostle阿萨德饭
                                这是什么按揭房IE 俺师傅家设计费撒大数据地方将碍事地方撒地方看见哦啊是发的发送到发送dfsj
                                数据覅阿萨德飞机阿士大夫阿萨德饭啊搜到房间阿萨德佛阿萨德饭apostle阿萨德饭
                                这是什么按揭房IE 俺师傅家设计费撒大数据地方将碍事地方撒地方看见哦啊是发的发送到发送dfsj
                                数据覅阿萨德飞机
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-offset-1 text-center">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="disabled">
                                    <span>
                                        &laquo;
                                    </span>
                                </li>
                                <li class="active">
                                    <span>
                                        1
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        2
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        3
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        &raquo;
                                    </span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content end -->

        <!-- Footer begin -->
        {include file="footer"}
        <!-- Footer end -->
    </div>
</body>
</html>